<?xml version="1.0"?>

<launch>

    <!-- ARGS -->
    <arg name="rvizfile"    default = "$(find feature_tracker)/../../rviz/vins_mono_front_end.rviz" />
    <arg name="config_path" default = "$(find feature_tracker)/../../config/mvsec_vins_config.yaml" />
    <arg name="vins_folder" default = "$(find feature_tracker)/../" />

    <!-- RVIZ -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rvizfile)"/>

    <!-- FRONT END! -->
    <node name="feature_tracker" pkg="feature_tracker" type="feature_tracker" output="log">
      <param name="config_file" type="string" value="$(arg config_path)" />
      <param name="vins_folder" type="string" value="$(arg vins_folder)" />
    </node>
</launch>
